!!!
%html
  %body
    = render "/refinery/html_tag"
    - site_bar = render('/refinery/site_bar', :head => true)
    = render "/refinery/head"
    = site_bar
    #page_container
      #header
        .container-fluid
          .col-md-3.pull-right
            = render "/refinery/shared/search"
          .col-md-12
            = render "/refinery/header"
    #slider-wrapper
      .container-fluid
        #slider-wrapper.col-md-8
          #slider.nivoSlider
            - homepage_images.each do |image|
              = image_tag image.thumbnail(geometry: '135x135#c').url
    .clearfix
    #main-content
      .container-fluid
        .col-md-3
          = Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html
        .col-md-9
          %section#page= yield
    #footer
      .container-fluid
        = render "/refinery/footer"
    = render "/refinery/javascripts"
